@media(max-width:1000px){
    .Work{
        display:inline-block;
        width: 190%;
    }
    .Work>img{
        display: flex;
        max-width: 100%;
    }
    .About{
        display:inline-block;
        width: 190%;
    }
    .Gallery{
        display: inline-block;
        width: 190%;
    }
    .Contact{
        display:inline-block;
        width: 190%;
    }
}
body{
    margin: 0;
    font-family: cubano;
    background-color: #85be4d;
}
header{
    font-size: 900%;
    font-family: cubano;
}
header>img{
    width: 20rem;
    max-width: 800%;
    padding: .5rem;
}
nav>a{
    padding: .5rem;
    text-decoration: none;
}
nav>a:first-child{
    color: #1e5903;
}
nav>a:nth-child(2){
    color: #cf595b;
}
nav>a:nth-child(3){
    color: #ebe280;
}
nav>a:nth-child(4){
    color: #ffffff;
}
.Work{
    background-color: #1e5903;
    padding: 1rem;
    color: #ffffff;
}
.Work>h1{
    font-size: 500%;
}
.Work>img{
    padding: 1rem;
    display:inline-block;
    max-width: 50%;
}
.About{
    background-color: #cf595b;
    padding: 1rem;
    color: #ffffff;
}
.About>h1{
    font-size: 500%;
}
.About>p{
    color: #ffffff;
    font-size: 300%;
}
.Gallery{
    background-color: #ebe280;
    padding: 1rem;
    color: white;
}
.Gallery>h1{
    font-size: 500%;
}
.Gallery>img{
    padding: 1rem;
    display: flexbox;
    max-width: 50%;
}
.Contact>h1{
    color: #ffffff;
    padding: 1rem;
    font-size: 500%;
}
.Contact>p{
    padding: 1rem;
    color: #ffffff;
    font-size: 300%;
}   
   


    